<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>kafka</short>
  <description>kafka</description>
  <port port="9092" protocol="tcp"/>
  <port port="9093" protocol="tcp"/>
  <port port="2181" protocol="tcp"/>
  <port port="8083" protocol="tcp"/>
  <port port="8081" protocol="tcp"/>
  <port port="8082" protocol="tcp"/>
  <port port="8088" protocol="tcp"/>
</service>